{% block affirmation_card %}
<div class="row valign-wrapper">
    <div class="col s12 m5 offset-m3 valign">
        <div class="card center-align z-depth-5">
            <div class="card-image">
                <img src="/media/{{ affirmation.image }}">
            </div>
            <div class="card-content">
                <span class="card-title"><b>{{ affirmation.summary }}</b></span>
                <p>{{ affirmation.text | safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
