{% extends 'base.html' %}
{% load static %}
{% block bg-img %}{% static '404.jpg' %}{% endblock %}
{% block content %}
<div style="padding: 3em;">
    <h1>This page is on a vision quest...</h1>
    Or could have possibly taken a vow of silence. Either way, we can't find it right now.
    Try again later, or <a href="mailto:alex.traylor@gmail.com">let us know about it</a>.
</div>
{% endblock %}