{% extends 'base.html' %}

{% load static %}

{% block bg-img %}{% static '500.jpg' %}{% endblock %}

{% block content %}

<div style="padding: 3em;">

    <h1>The server seems to be meditating...</h1>

    Or maybe napping. 

    Try again later, or <a href="mailto:alex.traylor@gmail.com">let us know about it</a>.

</div>

{% endblock %}
