
<head>
    <title>{% block title %}Life Stretch Wellness{% endblock %}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="author" content="Sharon Traylor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style type="text/css">
        header, main, footer {
          padding-left: 300px;
        }
         
       @media only screen and (max-width : 992px) {
          header, main, footer {
            padding-left: 0;
          }
       }
     </style>

</head>

<body style="background: url({% block bg-img %} none {% endblock %}) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div style="float: left; width: 30%; height: 100%; background-color: #c4dbffCC;">
        <div id="sidebar">
            {% include 'sidebar.html' %}
        </div>
    </div>
    <div style="margin-left: 30%;">
        <div id="content" style="opacity: 0.9;">
            {% block content %}This Page Intentionally Left Blank{% endblock %}
        </div>
    </div>
</body>
</html>