{% extends 'base.html' %}
{% load static %}
{% block bg-img %} {% static 'login.jpg' %} {% endblock %}
{% block content %}
<style>
    label {
        color: black;
    }
</style>
<div style="padding: 3rem; background-color: #cfccc6CC; position: absolute; top: 25%; width: 70%;">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}