{% load static %}
<style>
    li {
        font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
<div class="row">
    <div class="container">
        <ul>
            <li><div class="valign-center">
              <a href="/"><img class="center" src="{% static 'om.png' %}" style="max-width: 80%;"></a>
              <br>
              <h3><a href="#!"><span class="white-text">Life Stretch Wellness</span></a></h3>
              {% if user.is_authenticated %}
              <div align="center" style="font-family: Brush Script MT, Brush Script Std, cursive; font-size: 3em;">Namaste, {{ request.user.first_name }}</div>
              {% if user.is_staff %}
              <div align="center" style="font-size: 0.7em"><a href="/admin">Administrate</a></div>
              {% endif %}
              {% else %}
              <div align="center"><span style="font-family: Brush Script MT, Brush Script Std, cursive; font-size: 3em;">Namaste!</span> <br> <a href="/login/">Log In</a> or <a href="/signup/">Sign Up</a></div>
              {% endif %}
            </div></li>
            <li><div class="divider"></div></li>
            <ul class="collapsible" style="box-shadow: none!important; border: 0;">
                <li>
                  <div class="collapsible-header" style="background-color: transparent; border: none!important;">Empower Your Day</div>
                  <div class="collapsible-body">
                      <ul>
                        <li><a class="waves-effect" href="/daily/affirmations/" style="box-shadow: none!important;">Affirmation Of The Day</a></li>
                        <li><a class="waves-effect" href="/daily/crystals/">Crystal Of The Day</a></li>
                        <li><a class="waves-effect" href="/daily/oils/">Essential Oil Of The Day</a></li>
                        <li><a class="waves-effect" href="/daily/meals/">Vegan Meal Of The Day</a></li>
                        <li><a class="waves-effect" href="/daily/poses/">Yoga Pose Of The Day</a></li>
                      </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header" style="background-color: transparent; border: none!important;">Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header" style="background-color: transparent; border: none!important;">Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
          </ul>
    </div>
</div>
