{% extends 'base.html' %}
{% load static %}
{% block bg-img %}{% static 'signup.jpg' %}{% endblock %}
{% block content %}
<div style="padding: 3rem; background-color: #cfccc6CC; height=100%;">
    <style>
        label {
            color: black;
        }
    </style>
    <h2>Sign up Form</h2>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <p style="color: red">{{field.label}}: {{ error|escape }}</p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <p style="color: red">{{ error|escape }}</p>
    {% endfor %}
{% endif %}
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <small style="color: black">{{ field.help_text }}</small>
        {% endif %}
    {% endfor %}    
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LeZb6UZAAAAAH7PjWdydFLQKHX7cs8LU3KVYbUf"></div>
    <br>
    <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}
